* {
    margin: 1rem;
    box-sizing: border-box;
    font-family: var(--base-font), sans-serif;
}

.home-head {
    margin: 1rem; display: flex;
    flex-direction: column;
    place-items: center;
}
.home-head h1, p { margin: 0.5rem; }

.doc-spacer {
    width: 100%; height: 2px;
    background-color: #e8e8e8;
    border-radius: 20px;
}

.doc-section {
    max-width: 900px;
    margin: 1rem auto; padding: 0 2rem;
    display: flex; flex-direction: column;
    justify-content: center;
    border-radius: 40px;
    box-shadow: 2px 2px 10px lightgray;
}